<div class="tracks-page">
  <!--section top (small)-->
  <app-section-generic [dataTracks]="mockTrackList" [title]="'La mejor musica del mundo'" [mode]="'small'">
  </app-section-generic>
    <!--section medium (medio)-->
    <app-section-generic [dataTracks]="mockTrackList" [title]="'La mejor del medio'" [mode]="'medio'">
    </app-section-generic>
  <!--section medium (big)-->
  <app-section-generic [dataTracks]="mockTrackList" [title]="'La mejor de la electronica'" [mode]="'big'">
  </app-section-generic>
</div>
