<div class="tracks-page">
  <!--section top (small)-->
  <app-section-generic [dataTracks]="tracksTrending" [title]="'Musicas en tendencia'" [mode]="'small'">
  </app-section-generic>
    <!--section medium (medio)-->
    <app-section-generic [dataTracks]="tracksSaved" [title]="'Musicas guardadas'" [mode]="'medio'">
    </app-section-generic>
  <!--section medium (big)-->
  <app-section-generic [dataTracks]="tracksRandom" [title]="'Musicas random'" [mode]="'big'">
  </app-section-generic>
</div>
